
.task-wrapper {
    padding: 0 25px;
}

.task-text {
    border: 1px solid var(--lightest-text);
    border-bottom: 1px solid var(--main-color);
    border-radius: 4px 0 0 4px;
    height: 40px;
    width: 450px;
    position: relative;
    margin-left: 40px;
    margin-bottom: 40px;
    padding-left: 10px;
}

.task-button {
    height: 40px;
    width: 80px;
    background-color: var(--main-color);
    border: 1px solid transparent;
    border-radius: 0 4px 4px 0;
    color: var(--lightest-text);
    position: absolute;
}

.checkbox {
    background: none;
    border: none;
    color: var(--main-color);
    cursor: pointer;
}

li {
    text-align: left;
    margin-bottom: 10px;
}

.fa {
    margin-right: 10px;
}
